<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <title>Demo</title>
</head>

<body>
<div id="app">
    <div>
      <div style="float: left;margin-left: 40px; width: 1000px;">
         <div style="float: left;width: 300px;">
           二维码
         </div>
         <div style="float: right;">
                <table  cellspacing="0px"  style="border-collapse:collapse;line-height: 50px;" >
                        <tr style=" border-bottom:1px solid #979191 ">
                            <td>Address</td>
                            <td>{{addressDTO.address}}</td>
    
                        </tr>
    
                        <tr style="border-bottom:1px solid #979191  ">
                            <td>Format</td>
                            <td>{{addressDTO.format}}</td>
    
                        </tr>
                        <tr style="border-bottom:1px solid #979191  ">
                            <td>Transactions</td>
                            <td>{{addressDTO.txSize}}</td>
    
                        </tr>
                        <tr style="border-bottom:1px solid #979191  ">
                            <td>Total Received</td>
                            <td>{{addressDTO.totalReceived}}</td>
                        </tr>
                        <tr style="border-bottom:1px solid #979191  ">
                            <td>Total Sent</td>
                            <td>{{addressDTO.totalSent}}</td>
                        </tr>
                        <tr style="border-bottom:1px solid #979191  ">
                            <td>Final Balance</td>
                            <td>{{addressDTO.balance}}</td>
                        </tr>                                    
                    </table>
         </div>
         <div style="  clear: right;margin-left: 40px;">Transactions</div>
         <el-pagination style="text-align:center" @size-change="handleSizeChange" @current-change="handleCurrentChange"
         :current-page="page" :page-sizes="[10, 15, 20, 25]" :page-size="pagesize"
         layout="total, sizes, prev, pager, next, jumper" :total="total">
     </el-pagination>

     <el-row v-for="(o,index) in addressDTO.transactionDTO.list" :key="index">
            <div >
                <div>
                    <div style="float: left ;">hash</div>
                    <div style="float: left ;margin-left: 40px; width: 450px; " class="blockhash" >
                        <a :href="'http://localhost:5000/TransactionDetail?txhash='+ o.txhash">{{o.txhash}}</a>



                    </div>

                    <div style="float: right ;">{{o.time}}</div>



                </div>
                <div  style="margin-top: 10px;clear: right;">


                    <div style="float: left; width: 500px;">
                        <el-row v-for="(detail,index) in o.records" v-if="detail.type==0" :key="index+100">
                            <div style="margin-left: 80px; margin-top: 10px;">
                                <div style="float: left; width: 200px;" class="blockhash"> 
                                    <a
                                        :href="'http://localhost:5000/addressInfo?address='+ detail.address">{{detail.address}}</a>
                                </div>
                                <div style="float: right;" v-if="detail.type==0">{{detail.amount}}</div>

                            </div>
                        </el-row>
                    </div>
                    <div style="float: right;">
                        <el-row v-for="(detail,index) in o.records " v-if="detail.type==1" :key="index+100">
                            <div style="margin-top: 10px;">
                                <div style="float: left;margin-right: 20px; width: 250px;"  class="blockhash" v-if="detail.type==1"> <a
                                        :href="'http://localhost:5000/addressInfo?address='+ detail.address">{{detail.address}}</a>
                                </div>
                                <div style="float: right;" v-if="detail.type==1">{{detail.amount}}</div>
                            </div>
                        </el-row>
                    </div>
                </div>
                <div style="clear: right;">
                    fee
                </div>
            </div>
            <el-divider></el-divider>


        </el-row>








      </div>
      <div  style="float: right;">


      </div>


    </div>



</div>

<script src="assets/js/axios.min.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/elementui.js"></script>
<script src="viewmodels/addressInfo.js"></script>

</body>

</html>